@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Guides:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Carattere&family=Dancing+Script:wght@400..700&family=Fleur+De+Leah&family=Style+Script&family=Updock&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: 0;
}

body {
    background-color: #9dade4;
    width: 100%;
}

p {
    font-family: "Crimson Text", serif;
    color: rgb(5, 0, 73);
}

header {
    height: 90px;
    gap: 380px;
    display: flex;
    align-items: center;
    padding-left: 100px;
    background-color: #8394cf;
    /* width: 100%; */
}

header img {
    height: 140px;
   
}

.home-container {
    display: flex;
    align-items:  center;
    justify-content: center;
    width: 100%;
    gap: 80px;
    margin-top: 100px;
}

.home-container img{
  width: 460px;
   border-radius: 30px;

}

.home-container p{
    font-size: 22px;
}

.home-container h2 {
    font-family: "Crimson Text", serif;
    color: rgb(5, 0, 73);
    margin-top: 5px;
}

.home-container p {
    width: 1100px;
    font-size: 22px;
    margin-top: 25px;
}

.aboutMe-container {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 100%;
   gap: 50px;
   margin-top: 200px;
}

.aboutMe-container img{
    border-radius: 30px;
}

.aboutMe-container p{
    width: 1100px;
    font-size: 22px;
    margin-top: 25px;
}

.aboutMe-container h2{
    font-family: "Crimson Text", serif;
    color: rgb(5, 0, 73);
    margin-top: 5px;
}

nav {
    display: flex;
    gap: 50px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(./imagens/sol-e-lua-padrao_68162-206.avif);
    background-repeat: repeat;
  width: 100%;
    height: 450px;
    background-size: 33%;

    
}


.paragleider{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    


}


.pinteca{
margin-top: 10px;
}

.projetos{
    display: flex;
  align-items: start;
    justify-content: center;
    
    margin-top: 200px;
    width: 100%;
   
    /* margin-left: 87px; */
}
.projetos h1{
    font-size: 22px;
    color: rgb(5, 0, 73);

}
.projetos h2{
    font-size: 20px;
    color: rgb(5, 0, 73);
}

.projetos p{
    font-size: 22px;
}

.projetos img{
    width: 460px;
    height: 500px;
    border-radius: 30px;
    margin-left: 110px;
    margin-top: 50px;
}

.éNois{
    display: flex;
    flex-direction: column;
    align-items:  center;
    justify-content: center;
    width: 100%;
    gap: 30px;
    margin-top: 100px;
}

.éNois h2{
    display: flex;
    align-items: start;
    justify-content: start;
    width: 89%;
    /* margin-right: 1000px; */
}

.alinhar{
    display: flex;
width: 100%;
align-items: self-start;
margin-bottom: 80px;
justify-content: center;
    flex-direction: column;
    gap: 15px;
    margin-left: 140px;

}
.alinhar p{
    width: 1100px;
    margin-left: 20px;
}

.alinhar h2{
    margin-left: 20px;
}

.alinhar button{
    width: 100px;
    height: 48px;
    background-color: #7e90f5;
    border-radius: 20px;
    border: none;
   margin-left: 20px;
    
  
}
.alinhar button:hover{
    background-color: rgb(60, 60, 243);
    width: 100px;
    height: 48px;
    transition: 1s;

}


.alinhar a{
    text-decoration: none;
    color: rgb(215, 236, 255);
}

.batata{
    display: flex;
    align-items: center;
   
}

.batata img{
    width: 140px;
}

footer {
    background-color: #8394cf;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 70px;
    height: 150px;
   /* width: 100%; */
}

span{
    color: rgb(17, 16, 26);
}





